// app global css

custom-background-color = #F0F2F5
gray-20-color = #333333
gold-color = #D4AF37
silver-color = #A6A6A6
bronze-color = #804A00

.text-body-background
  background-color: custom-background-color

.bg-body-background
  background: custom-background-color

.text-grey-20
  color: gray-20-color

.bg-grey-20
  background: gray-20-color

.text-gold
  color: gold-color

.bg-gold
  background-color: gold-color

.text-silver
  color: silver-color

.bg-silver
  background-color: silver-color

.text-bronze
  color: bronze-color

.bg-bronze
  background-color: bronze-color
