// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #333333
$secondary = #2B5B8A
$accent    = #D4AF37

$positive  = #ABD437 // #21BA45
$negative  = #D46137 // #C10015
$info      = #7B77C1 // #31CCEC
$warning   = #EDE35D // #F2C037
